/* styles.css */

  .product img {
    max-width: 10%;
    height: auto;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  #product-section {
    background-color: #f1f1f1;
    text-align: center;
  }
  
  #footer-section {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  #footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  #footer-section ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  #footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  